.input-container {
  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: 345px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: black;
    padding: 5px;
    font-size: 18px;
    &::placeholder {
      color: #8d8d8d;
      font-size: 14px;
      padding-left: 10px;
    }
    &:focus {
      outline: none;
      font-size: 18px;

      &::placeholder {
        opacity: 0;
      }
    }
  }
}
